# For Executable file
Instant-NGP
# For VSCode
.vscode/*
.xmake/*

drafts/*
data/*
Example/*
*.msgpack
Output.png
# For CMake
build/*
*.cpython

Test_Results/*
*.py

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*Results*
DATA*
*.txt